body {
    width: 1920px;
    margin: 0 auto;
    background-color: black;
    background-image: url(header-bg.jpeg);
    background-attachment: fixed;
    
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1460px;
    height: 56px;
    margin-left: 230px;
    color: white;
    margin-top: 50px;
}

header h5 {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    width: 163px;
    margin-left: 824px;
}
.logo {
    width: 216px;
    height: 33px;
}

.phone-logo {
    width: 12.96px;
    height: 12.96px; 
    padding-right: 10px;
    padding-left: 16px;
}

span {
    color: #D6AF76;
}

a {
    text-decoration: none;
    color: #E4B564;
    padding: 10px 25px 10px 10px;
    border: 1px solid #E4B564;
    font-size: 18px;
}

.container {
    display: block;
    color: white;
    margin-left: 230px;
}
.title {
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 128px;
}
.text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    width: 1182px;
    height: 56px;
}
.container {
    max-width: 1460px;
}
.content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
    width: 1460px;
    padding: 0;
    margin-top: 41px;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    grid-column-gap: 15px;
    grid-row-gap: 27px;
    line-height: 28px;
}
.item-1 {
    padding: 220px 148px;
    width: 170px;
    background-color: #634F2C;
}
.item-2 {
    width: 380px;
    padding: 206px 43px;
    background-color: #B4A385;
}
.item-3 {
    width: 186px;
    padding: 220px 140px;
    background-color: #E4B564;
}
.item-4 {
    width: 390px;
    padding: 220px 163px;
    background-color: #635A4A;
}
.item-5 {
    width: 239px;
    padding: 220px 237px 220px 239px;
    background-color: #B08C4D;
    margin-left: 248px;
}
.top {
    font-size: 50px;
    width: 977px;
    height: 28px;
    color: white;
    margin-left: 230px;
    margin-top: 161px;
}
.info {
    display: flex;
    flex-direction: row;
    width: 1460px;
    margin-top: 94px;
    margin-left: 230px;
    justify-content: space-between;
    align-items: flex-start;
}
.car {
    display: flex;
    flex-direction: column;
}
.car p {
    color: white;
}
.venichle-1 {
    width: 302px;
    height: 50px;
    padding: 44px 113px 219px 52px;
    background-color: #0E0E0E;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 16px;
}
.venichle-2 {
    padding: 56px 113px 479px 52px;
    background-color: #1F1F1F;
}
.venichle-3 {
    width: 302px;
    height: 50px;
    padding: 44px 114px 345px 51px;
    background-color: #242424;
    color: white;
}
.venichle-4 {
    width: 302px;
    height: 25px;
    padding: 47px 113px 333px 52px;
    background-color: #E4B564;
}
.technique p {
    width: 302px;
    height: 25px;
    color: white;
}
.venichle-5 {
    padding: 44px 117px 186px 48px;
    background-color: #1F1F1F;
}
.venichle-6 {
    padding: 44px 117px 244px 48px;
    background-color: #0E0E0E;
}
.venichle-7 {
    padding: 44px 117px 208px 48px;
    background-color: #0A0909;
}

.titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1460px;
    margin-left: 230px;
    padding-top: 172px;
    color: white;
}
.titles h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 101px;
    height: 30px;
    padding: 10px 39px 10px 40px;
    color: #E4B564;
    border: 1px solid #E4B564;
}
.title-clients {
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 61px;
}
.images {
    display: grid;
    grid-template-columns: 487px 486px 487px;;
    grid-template-rows: 391px 391px;;
    width: 1460px;
    height: 782px;
    padding-left: 0;
    margin-left: 230px;
    padding-bottom: 238px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 486px;
    height: 391px;
    background-color: #E8D2AB;
}
.cursor {
    width: 25px;
    height: 23.3px;
}

.imavis {
    width: 139px;
    height: 55px;
}
.information {
    width: 326px;
    height: 140px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    color: #FFFFFF;
}
.image-1 {
    padding: 168.5px 151px;
    background-color: #634F2C;
}
.image-2 {
    padding: 172px 148px;
    background-color: #E4B564;
}
.image-3 {
    padding: 172px 149px;
    background-color: #635A4A;
}
.image-4 {
    padding: 168.5px 151px;
    background-color: #634F2C;
}
.vector {
    background-color: #B08C4D;
    height: 391px;
    position: relative;
}
.vector-1 {
    position: relative;
    top: 169.5px;
    left: 185px;
}
.vector-2 {
    position: absolute;
    top: 180.64px;
    left: 233.06px;
}
.vector-3 {
    position: absolute;
    top: 182.18px;
    left: 192.05px

}
.vector-4 {
    position: absolute;
    top: 186.5px;
    left: 291.18px;
}
.vector-5 {
    position: absolute;
    top: 186.74px;
    left: 277.41px;
}
.vector-6 {
    position: absolute;
    top: 186.49px;
    left: 263.3px;
}
.vector-7 {
    position: absolute;
    top: 186.5px;
    left: 255.06px;
}
.vector-8 {
    position: absolute;
    left: 237.89px;
    top: 182.18px;
}
.vector-9 {
    position: absolute;
    top: 182.92px;
    left: 220.92px;
}
.vector-10 {
    position: absolute;
    top: 186.49px;
    left: 207.6px;
}
.companies {
    background-image: url(../hw5/parallax-bg.jpeg);
    background-attachment: scroll;
    margin-top: 191px;
}
